*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.props
*.pyc
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.checkstyle
cscope.*
Session.vim
tags
Thumbs.db
# Settings directories for eclipse
/.externalToolBuilders/
/.settings/
/_out
/android_emulator_sdk
/ash/ash_unittests_run.xml
/base/base_unittests_run.xml
/out/Debug
/out/Debug_x64
/out/gomacc.lock
/out/ipch/
/out/Release
/out/Release_x64
/out/win_toolchain.json
/out/util/LASTCHANGE*
/out/util/support
/out/x64/
/out/linux/bin/eu-strip
/out/linux/debian_*-sysroot/
log.txt